<div class='headline'>Latest news</div>
<%= partial :post_update %>
<br><br>
<% @posts.reverse.each do |post| %>

<div class='post'>
  <p class='post_author'>
    <%=h post.user.realname %>
    (<%=h post.user.username %>)</p>
  
  <p class='post_main'>
  <%=h post.content %></p> 
  
  <p class='post_footer'>
  <% if current_user %> 
    <a href='/posts/reply/<%= post.id %>'>Reply</a>
  <% end %>
    | Posted at <%= post.created_at.asctime %></p>
</div>

<div class='reply'>

<% post.replies.each do |reply| %>

<p class='post_author'><%=h reply.user.username %> 
(<%=h reply.user.realname %>)</p>
  <p class='reply_main'><%=h reply.content %></p>
  <p class='post_footer'><%= reply.created_at.asctime %></p>
<% end %>

</div>




 <% end %>